#
# Debian artifacts
#
debian/ucaresystem/
debian/ucaresystem-core/
debian/.debhelper
debian/*.log
debian/*.substvars
debian/*.debhelper
debian/debhelper-build-stamp
debian/files

#
# Debian packages
#
dist

#
# Misc files
#
.idea
