#
# Debian artifacts
#
debian/ucaresystem/
debian/ucaresystem-core/
debian/.debhelper
debian/*.log
debian/*.substvars
debian/*.debhelper
debian/files

#
# Debian packages
#
dist
ucaresystem-build-deps*.*

#
# Misc files
#
.idea
