Source: ucaresystem
Section: utils
Priority: optional
Maintainer: Ioannis Tsgakatakis <tsagatakis@protonmail.com>
Build-Depends:
    debhelper (>= 11),
    ruby-ronn,
    cloc,
    equivs,
    librsvg2-bin,
    shunit2,
    boxes
Standards-Version: 4.1.4
Homepage: https://jtsagata.github.io/uCareSystem/
Vcs-Browser: https://github.com/jtsagata/uCareSystem.git

Package: ucaresystem
Architecture: all
Depends: apt,
         deborphan,
         lsb-release,
         distro-info,
         policykit-1,
         ${misc:Depends}
Suggests: timeshift,
          systemd,
          xclip,
          eterm,
          xfonts-100dpi
Description: All-in-one System Update and maintenance tool
 This simple script will automatically refresh your packagelist,
 download and install software updates (if there are any), remove old
 kernels, obsolete packages and configuration files and free up disk space
 without any user intervention.
 Also can upgrade to a new version of your distribution.

Package: ucaresystem-core
Depends: ucaresystem, ${misc:Depends}
Architecture: all
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.
