<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
    <vendor>Utapia</vendor>
    <vendor_url>https://www.utappia.org/</vendor_url>
    <action id="org.utappia.launch-ucaresystem">
    <description>Run ucaresystem</description>
    <message>ucaresystem: This may be dangerous.</message>
    <message xml:lang="el">ucaresystem: Αυτό μπορεί να είναι επικύνδυνο.</message>
    <icon_name>ucaresystem</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <!-- This policy is missing so allow to run x-terminal-emulator -->
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/x-terminal-emulator</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
    </action>
</policyconfig>