#!/bin/bash
#
# Edit and put copy of this file at
# /etc/ucaresystem.conf
#

#
# GUI options
#
#X_TERMINAL="what"
#X_TERMINAL_OPTIONS="--empty--"

#X_TERMINAL="kitty" #suggested
#X_TERMINAL_OPTIONS="--name  ucaresystem --title uCareSystem --detach --hold "


#X_TERMINAL="st"
#X_TERMINAL_OPTIONS="-t uCareSystem"

#X_TERMINAL="Eterm" #suggested
#X_TERMINAL_OPTIONS="--name  uCareSystem --pause --finished-title 'uCareSystem is Done' --buttonbar 0  --scrollbar false --exec"


#X_TERMINAL="xterm" #also uxterm (suggested)
#X_TERMINAL_OPTIONS="-name  ucaresystem -title uCareSystem -e"

#X_TERMINAL="alacritty"
#X_TERMINAL_OPTIONS="-t uCareSystem --hold -e"

# Default mode
# valid values are: "maintain", "upgrade","cleanup"
DEFAULT_MODE="cleanup"

# Enable STimeshift
ENABLE_TIMESHIFT=true

# Do not ask for confirmation
# ASK_CONFIRM=false

# Do reboot if neccessry
# AUTO_REBOOT=true
# AUTO_REBOOT_TIMEOUT=10

# Kernels to keep. Default is 2
# KEEP_KERNELS=2

# Show welcome banner
# SHOW_BANNER=true

# Time to wait after each action
# WAIT_ACTION=0

# Disable colors
#NO_COLOR=true
