#
# Edit and put copy of this file at
# /etc/ucaresystem.conf
#

# Default mode
# valid values are: "maintain", "upgrade","cleanup"
# DEFAULT_MODE="maintain"

# Enable STimeshift
ENABLE_TIMESHIFT=true

# Do not ask for confirmation
# ASK_CONFIRM=false

# Do reboot if neccessry
# AUTO_REBOOT=true
# AUTO_REBOOT_TIMEOUT=10

# Kernels to keep. Default is 2
# KEEP_KERNELS=2

# Show welcome banner
# SHOW_BANNER=true

# Time to wait after each action
# WAIT_ACTION=0

# GUI options
#X_TERMINAL="gnome-terminal"
#X_TERMINAL_OPTS=""

# Disable colors
#NO_COLOR=true
